name: run unit tests

on: [push]
jobs:
  run-rspec:
    runs-on: ubuntu-latest
    steps:
    - uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
      with:
        ruby-version: '3.1'
        bundler-cache: true
    - run: bundle install
    - run: bundle exec rspec
